
*{
	margin: 0 auto;
	padding: 0px;
}


@font-face {
  font-family: 'Futura';
  src: url('Futura.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAkMAAoAAAAADVwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAAA9AAAACQA
AABOfAx/22NtYXAAAAEYAAAAYQAAAXYCKwSyZ2x5ZgAAAXwAAAWUAAAH4OvCts1oZWFkAAAHEAAA
ACUAAAA2ZSNLF2hoZWEAAAc4AAAAHgAAACQLSQl4aG10eAAAB1gAAABNAAAAeLbd/4xsb2NhAAAH
qAAAAF0AAAB8AABzbm1heHAAAAgIAAAAFgAAACAAIgAfbmFtZQAACCAAAADfAAABdqLM2BJwb3N0
AAAJAAAAAAwAAAAgAAMAAHjaY2Bgy2CcwMDKQDIoTisBUVYMVWwS//MYGNgUGDQBeOAE4HjaY2Bg
YGJgZAABEQZmEItRCojZGEYBC0MMkORh4ACGEAuDNUMwQxRDMUPV//9AUSsGR4YQhkSGkv///z/6
f5CB4f9CoCgkHDmAWAiIxRhEGcQZJBgkGaQYpFF5AG0kDtkAAAB42nWVf2gbZRjH73nfu6Zss+6W
tdf90PW2pCnl2LL1mhwSaxnHCBJm/4hSa6hnqTN/FBxaoYyJY5ZZcGLADsscMkaQMIqrULRucWQj
jDKCq6OMqtkoY2rBKmPkj9Hcvfi8d2lXBhJC8sf7fO/zPt/v85wAQkoYkE5JeeFZQfDLKv/Q1pBa
51N3wQAESBm/xrQ9OWXQfJzQr+0iaXaWxPfOx/WH4ZsCESys/wHrJaFJECCoNPpUkIORqBzqjHAl
GYXgFLkYDjtJdk98Oaunv9rfN1bN01mDkGNEO22QLagaG4fhWKofXjsdY2X9hqs86JI1CNs4W5Oi
RqKdapNPbQ3JoPA/IU5qDWfozoLJFuvjTs6sZ4uE3uogiB3P2JkTNOvkZsLJidKgJiahALHDB6yF
TLJNAJd81Lv5DuDELq0i+1TZIuL2ohlbqD6kJR3Bac6+TI5OUHMmycqGY+lkp+ASHkHCgrBB2IyE
tEmRZDUUVWVoRKG6AZLMie32/g4iCiu/SYHqXJZecG7kTYTr+h4C0BWHtphQ6yHXkYSNnIV7gBeU
g3UWHhUFslImWH7zHM3aV0kztIN5GIJgYGVKSNfca/IIsEd+laqNvqDbJN6gfmKdo/qsRuwKgaV9
zic69kgKRAp26Rz9xrlZiPeMkz52J3+AaLAMWtflIWM9Fa1RUY+Mdwe7y7Xwh5WlwsoFqd9ZYred
JanPWfYqyTGk8q1W7sFcUZlXkmZisfI43iLDbkM7hmlZ1BimbPWJo26WGlzHdwH1nFFln5Uc7+IP
XZnHfBh0M0uVYoR8y46zO8QsiXG73uvHoPS2dAaZG3k/1B0gR5sUrG8NRXlnfHW+Nym0wL9/FHRo
Mcv0lwSw+1QrSmdWbkn7WYDdh8R5Ng1j+d7XX5mCF/+Z7BZqumdcXV9Nl6p+T4lSDbzq6hL7Gxrx
jFWbKX56i9cBxd9BMRaK3xuvWgsr6AkmzE3rmD0ywnNGD4n2VXoQkpZeZeLZMaN5zQuu2ODpPa3F
yjWd3hF75LinA4lUzK4Tz2bCmDJw52kU/dy6Nk2yO+moRHGWZKs3R7VcT++kvZjrpaUICTujOs5P
adaMT9H0jGnMGBGnX9fhwdr0FLzpUeUn89Po84AK3dpidYkWjbAXWxIvQSzbg+aNGcKTveP3aCRv
6yg4f3s4TGokI+4m2ry9kEuKtPhCkbBmDlMstxGxbyJtFLSI89eP4XUseUGpsTQp/iDSdD7FBH+W
2gjs1obS4Z6Z6gM6F15Dy2GKwBxLDHanEBITqmfCnu8D0km8ZQPv2tqWQFyUXB1Rcft0TypXXYzP
kZ/2hW2Nz+r9SZ5v0p0Hsxir6GTv6TA19uLQdgu1zTbquvlMzU3PDh5zz0xtgbYUulk5LOV5GKpz
C+iLmLQFl6rfpbripREwBoClZISX2telAL8UPUgU9jsEn94ufhmiIdmv8AoLNuUy310jGfarlMft
/Dg7QUaq71wjn5Nbzpdujt/CyivrcxzlOe5U+ZLBd0Tr/+SYfEAP2ZdFetC+yiYtXSTVI16OU2ss
z3EWJRrqBPQqEu3AKeUZ4J7h9qrziamhZb6oYLc5VckloJUk523cFMnFAhuSCqw4kR5+bKfYIQK9
s1psmmUJXHzQYqWykHiYGe6eWDc1kpd5JdgaxXuTaAB3Ae7IOkm0ErDxpU3sHgQ2GJCezz7C3mfZ
EhuW8ux46tVLZfsztg3OtlTqY3fh00rZHF3dU1n3zcTT28jTq/L9EomqIq65SMiKlcTniZ3WerNT
dt6ZZWJG2tlWgUpmMkmgPRE/rxknCmSBlaePot67sBUeiZXadpGDMnfnffiQfQQf47qcBkiQL/An
4T77Z7gu3hVEoR7P+kAO8cO5OFhxtgz95GScjcNRk7zB5kH7D/wrM5l42mNgZAADW61pj+P5bb4y
MHAwYIAYhkTW7awHoDygDgCyVwXIAAAAeNpjYGRgYFP4f52BgYPh/wXGZtZwBnQgBwB4WATTAAB4
2mNgAIH//9m+///JdouBge3W/z9AmgVMXwNhkBgDA/NVCM22H4hvAvFjKL72/wJEDZCG6udggOq7
BzQHpu4WhGYOAGIlBgYAhYsn+gAAAHjaY2BAAQ5APAuIfzEwMNoAcQsQ72NgYJIC4hAg7gHicwwM
zGpADOQzLwPiVwwMLBZAXAHERxgYWOWAuASItwDxIwYGNhkgzgPiOwwM7CZADDSTfQMQPwAACUUO
1AAAAHjaY2BkYGCQA0JmBhBgZEADAAatAEIAAHjaTc2/asJQFMfxb0xUhGIHobSbS6GTJMWlsyBd
2kGK+wWvMfgnck0obn2APkAfo3Ofrj/NGZKTwOec+7snwC1/RDTPQF/jiFhd4w59bsyxamRO5Dtz
V4kHc0/zR3NfW57UR8ll95Rnc6T82txhSDDHmn+ZE/nb3OWeH3NP899ZeTyHIt9U7/5z4fN654Kk
d+nDqSgP42ySpmo/glv5vQtbmFFy5Kx/FeRsqBjzhlNfaXJQ96rEjr2U8XKtObVOa2UcC7zu1Upc
7rRP2l4qFThpY3ndmTEhVbUy//FcMi0AeNpjYGbACwAAfQAE) format('woff'), url('Futura.ttf')  format('truetype'), url('Futura.svg#Futura') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*body {
	font-family:'Futura';
}
*/
.forheader .v1 a i {
	float: right;
	margin-left: 10px;
	margin-top: 10px;
	color: #FF2582; 

}
.forheader {
	height: 35px;
	width: 100%;
	background: #000;

}
.menu {
	width: 100%;
}
.menu .logo img {
	margin-top: 10px;
	cursor: pointer;
}
.menu .nav {
	margin-top: 36px;
	float: right;
}
.menu .nav ul li {
	display: inline-block;
	margin-left: 25px;
}
.menu .nav .active {
	color: #FF2582;
	font-weight: bold;
}
.menu .nav ul li a {
	text-decoration: none;
	color: #000000;
}
.menu .nav ul li a:hover {
	color:#FF2582;

}


.slider {
	width: 100%;
	background: #000000;
	margin-top: 10px;
	overflow: hidden;
}
.carousel-caption {
	right: inherit;
	bottom: inherit;
	top: 50%;
	transform: translateY(-50%);
	text-align: left;
}
.carousel-caption {
	text-shadow: none;
}
.carousel-caption h3 {
	font-size: 50px;
}
.carousel-caption h3 span {
	color: #ff2582;
}
.carousel-caption a {
	height: 52px;
	padding: 0 40px;
	border-radius: 25px;
	background: #FF2582;
	color: #ffffff;
	outline: none;
	border:none;
	font-size: 24px;
	display: inline-block;
	line-height: 52px;
	text-decoration: none;
}

.start .get-start-now {
	width: 50%;
	height: 300px;
	background-image:url(../img/MEMBERSHIP.jpg);
	background-size: cover;
	float: left;
	padding-left: 80px;	
	padding-top: 45px;
}
.start .get-start-now h3 {
	color: #ffffff;
}
.start
.start .get-start-now p {
	color: #ffffff;
	font-size: 20px;
}
.start .get-start-now button {
	width: 170px;
	height: 40px;
	border-radius: 20px;
	background: #000000;
	outline: none;
	border:none;
	color: #ffffff;
	font-size: 17px;
}
.start .get-start-now2 {
	width: 50%;
	height: 300px;
	background: #000000;
	float: left;
	padding-left: 80px;	
	padding-top: 45px;

}
.start .get-start-now2 h3 {
	
	color: #ffffff;
}
.start .get-start-now2 p {
	color: #ffffff;
	font-size: 20px;
}
.start .get-start-now2 button {
	width: 170px;
	height: 40px;
	border-radius: 20px;
	background: #000000;
	outline: none;
	border:none;
	border:2px solid #FF2582 ;
	color: #ffffff;
	font-size: 17px;
}

.about {
	width: 100%;
	overflow: hidden;
	padding-top: 60px;
}
.about h2 {
	margin: 105px 0 20px 130px;
	position: relative;
	display: inline-block;
	padding-top: 20px;
}
.about h2::before {
	content: "";
	width: 50%;
	background: #FF2582;
	height: 2px;
	position: absolute;
	top: 0;
}
.about p {
	margin-left: 130px;
}
.about button {
	width: 130px;
	margin-top: 30px;
	height: 30px;
	border-radius: 20px;
	background: #FF2582;
	color: #ffffff;
	outline: none;
	border:none;
	margin-left: 120px;
}

.our-classes {
	width: 100%;
	margin-top: 50px;
}
.our-classes h2 {
	margin-bottom: 20px;
}
.our-classes .service-block {
	width:33%;
	height: 330px;
	float: left;
	background-size: cover;
	position: relative;
}
.our-classes .service-block h3 {
	color: #ffffff;
	padding: 10px 30px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.our-classes .ft {
	background-image: url(../img/functional-training.jpg);
}
.our-classes .pn {
	background-image: url(../img/postnatal.png);
}
.our-classes .diet {
	background-image: url(../img/diet.png);
}
.our-classes .wt {
	background-image: url(../img/weight-training.jpg);
}
.our-classes .outdoor {
	background-image: url(../img/outdoor.png);
}
.our-classes .trx {
	background-image: url(../img/trx.png);
}

.trainer  {
	width: 100%;
	background: #0000;

}
.trainer .p1 {
	margin-bottom: 30px;
	line-height: 5px;font-weight: bold;


	
}
.trainer h3 {
	margin-top: 200px;
}
.trainer img {
	margin-top: 50px;
}
.schedule {
	width: 100%;
	height: 700px;
	margin-top: 50px;
	background:#000000;
}
.schedule h2 {
	color: #ffffff;
	margin-top: 90px;
}
.schedule button {
	width: 150px;
	height: 60px;
	background:#ff8e69;
	float: left;
	outline: none;
	border:none;
	margin-top: 30px;  
	border-left: 1px solid #fc9b75;

}

.schedule .cardio {
	width: 185px;
	height: 230px;
	background: #333333;
	display: inline-block;
}
.schedule .form {
	width: 360px;
	height: 170px;
	background: #d1d0ce;
	margin-top: 50px;

}
.schedule .form .age {
	position: relative;
	top: -65px;
	left: 175px;
}
.schedule .form .Height {
	position: relative;
	top: -70px;
}
.schedule .form .Weight {
	position: relative;
	top: -134px;
	left: 171px;
}
.schedule .form select {
	width: 145px;
	float: left;
	margin-left: 24px;
	
}
.schedule .form label {
	margin-top: 20px;
	margin-right: 260px;
}
.schedule .form input {
	margin-right: 165px;
	width: 145px;
	height: 20px;
}
.testimonial {
	width: 100%;
	height: 660px;
	margin-top: 50px;
}
.testimonial p {
	margin-bottom: : 30px;

}
.testimonial .slderc {
	margin-top : 30px;
	
}
.map {
	width: 100%;
	height: 290px;
	background-image: url(../img/indonesia-physical-map.jpg);
	background-size: cover;
	float: left;
}
.map .contact {
	width: 600px;
	background: #ffffff;
	border:1px solid #333333;
	margin: 50px auto;
	padding: 20px;
}
.map .contact label {
	display: block;
	padding-top: 30px;
}
.map .contact input {
	border:none;
	outline: none;
	border-bottom: 1px solid #f0f0f0;
	width:100%;
	height: 24px;
}
.map .contact textarea {
	border:none;
	outline: none;
	border-bottom: 1px solid #f0f0f0;
	width:100%;
}
.map .contact button {
	width: 165px;
	height: 40px;
	border-radius: 20px;
	border:none;
	outline: none;
	background: #FF2582 ;
	color:#ffffff;
	font-weight: bold;
	font-size: 16px;
	margin: 20px auto 0;
	display: block;
}
.map .contact h3 {
	text-align: center;
}
.footer {
	width: 100%;
	height: 300px;
	background: #191919;
	border-bottom: 1px solid #323232;

}
.footer img {
	margin-top: 30px;

}
.footer p {
	margin-top: 15px;
	color: #767676;

}
.footer h5 {
	padding-top: 32px;
	padding-left: 25px;
	color: #ffffff;
}
.footer .social-ican a i {
	color: #434343;
	border: 1px solid #434343;
	border-radius: 100%;
	padding: 7px;
	margin-top: 10px;
	
} 
.footer .social-ican .ican0 {
	margin-left: 10px;

}
.footer .img-m {
	margin-left: 20px;
}
.footer .p0 {
	margin-left: 25px;
}
.footer input {
	background: #191919;
	color: #3f3f3f;
	outline: none;
	border: none;
	border: 1px solid #2c2c2c;
	padding-left: 15px;
	width: 290px;
	height: 30px;
	margin-top: 10px;
	margin-left: 25px;
}
.footer button {
	margin-top: 20px;
	margin-left: 25px;
	background: #ff2582;
	outline: none;
	border: none;
	width: 120px;
	height: 30px;
	border-radius: 20px;
	font-weight: bold;
	color: #ffffff;
	font-size: 15px;
}
.Copyright {
	width: 100%;
	background: #191919;
	padding-top: 108px;
	float: left;
}
.Copyright p {
	margin-top: 10px;
}

.menu .menu-icon, .nav .cross {
	display: none;
}

@media only screen and (max-width: 600px){
	.carousel-caption {
		top: 30%;
	}
	.carousel-caption h3 {
		font-size: 16px;
	}
	.carousel-caption a {
		height: 30px;
		line-height: 30px;
		padding: 0 20px;
		border-radius: 15px;
		font-size: 12px;
	}
	.menu .menu-icon {
		float: right;
		font-size: 30px;
		margin-top: 28px;
		display: block;
	}
	.menu .nav {
	    position: fixed;
	    background: #fff;
	    z-index: 99;
	    top: 0;
	    right: 0;
	    width: 70%;
	    height: 100%;
	    margin: 0;
	    box-shadow: rgba(0,0,0,0.2) -5px 5px 10px;
		transform: translateX(120%);
		transition: all 0.3s;

	}
	.menu .nav.active {
		transform: translateX(0);
	}

	.menu .nav .cross {
		font-size: 30px;
		float: right;
		margin-right: 10px;
		padding: 10px;
		display: block;
	}	
	.menu .nav ul {
		float: left;
		width: 100%;
	}
	.menu .nav ul li {
	    display: block;
	    padding: 10px 0;
	}
	.about p {
		margin: 0;
		text-align: center;
	}
	.about h2 {
		margin: 40px 0  20px;
	    left: 50%;
	    transform: translateX(-50%);
	}
	.about img {
		margin-top:20px;
		width: 100%;
	}
	.about .about-img {
		padding: 0;
	}
	.our-classes .service-block {
		width: 100%;
	}
	.map {
		height: 400px;
	}
	.map .contact {
		width: 100%;
	}
}